/* main-view */
.container {
  max-width: 330px;
  width    : 100%;
  margin   : auto;
  padding  : 80px 0 160px 0;
}

.heading-text-contact {
  font-weight: 700;
  font-size  : 48px;
  line-height: 65px;
  text-align : center;
  color      : #000000;
  padding    : 80px 0 40px;
}

.map-hanoi {
  background     : url(../img/bg_hanoi-address.png);
  height         : 100%;
  border-radius  : 12px;
  background-size: cover;
}

.map-jp {
  background     : url(../img/bg_jp-adress.png);
  height         : 100%;
  border-radius  : 12px;
  background-size: cover;
}

.container_office-map-list {
  display              : grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap             : 32px;
  padding-bottom       : 160px;
}

.contact-office-wrap {
  display        : flex;
  flex-direction : column;
  align-items    : flex-start;
  padding        : 40px;
  margin         : 78px 48px;
  gap            : 16px;
  background     : rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(3px);
  border-radius  : 20px;
}

.contact-office {
  font-weight   : 700;
  font-size     : 28px;
  line-height   : 38px;
  color         : #000000;
  flex          : none;
  flex-grow     : 0;
  margin        : 0;
  padding-bottom: 14px;
}

.contact-text {
  font-weight: 400;
  font-size  : 16px;
  line-height: 140%;
  color      : #333333;
  flex       : none;
  flex-grow  : 1;
  width      : 100%;
  margin     : 0;
}

.contact-link {
  font-weight         : 400;
  font-size           : 16px;
  line-height         : 140%;
  text-decoration-line: underline;
  color               : #3a4eff;
  flex                : none;
  flex-grow           : 0;
}

.content {
  display    : flex;
  align-items: center;
  gap        : 4px;
}

.content img {
  width : 16px;
  height: 16px;
}

.content-center {
  display: flex;
  gap    : 18px;
}

.content a {
  font-weight         : 400;
  font-size           : 16px;
  line-height         : 140%;
  text-decoration-line: underline;
  color               : #3a4eff;
  flex                : none;
  flex-grow           : 0;
  cursor              : pointer;
}

/* container-fluid */
.contact_form-title {
  font-weight   : 700;
  font-size     : 48px;
  line-height   : 65px;
  text-align    : center;
  color         : #000000;
  flex          : none;
  flex-grow     : 0;
  padding-bottom: 40px;
}

.container_contact_form {
  display    : flex;
  align-items: center;
}

.contact-forms-list-img {
  width        : 50%;
  padding-right: 20px;
}

.container_contact_form-content {
  width: 50%;
}

.contact-forms-list-img img {
  width: 100%;
}

.form-input-title {
  display    : flex;
  gap        : 4px;
  align-items: center;
}

.form-input-title img {
  width : 16px;
  height: 16px;
}

.contact-form-item {
  display       : flex;
  gap           : 20px;
  flex-direction: column;
}

.contact_form-item-group {
  display       : flex;
  gap           : 6px;
  margin        : 0 16px;
  flex-direction: column;
}

.form__field {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  padding       : 12px 16px;
  gap           : 8px;
  background    : #ffffff;
  border        : 1px solid #d0d5dd;
  box-shadow    : 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius : 8px;
  flex          : none;
  align-self    : stretch;
  flex-grow     : 0;
  font-size     : 16px;
  line-height   : 24px;
  color         : #667085;
}

.form-input-title span {
  font-weight: 500;
  font-size  : 16px;
  line-height: 140%;
  color      : #344054;
  flex       : none;
  flex-grow  : 0;
}

.box-save {
  padding-top: 40px;
  gap        : 10px;
  flex       : none;
  margin     : 0 16px;
  flex-grow  : 0;
}

.contact-form-btn {
  font-weight  : 700;
  font-size    : 20px;
  line-height  : 27px;
  padding      : 16px 0;
  background   : #000000;
  border-radius: 48px;
  color        : #ffffff;
  width        : 100%;
  cursor       : pointer;
}

@media (max-width: 1024px) {
  .container_office-map-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact_form-item-group {
    margin: 0;
  }

  .content {
    width: 100%;
  }

  .contact-text {
    width: min-content;
  }

  .heading-text-contact {
    font-size     : 32px;
    line-height   : 43px;
    letter-spacing: -0.01em;
    text-align    : left;
    padding       : 40px 0 40px;
  }

  .contact_form-title {
    font-size  : 32px;
    line-height: 43px;
    text-align : left;
  }

  .contact-office {
    font-size     : 20px;
    line-height   : 27px;
    padding-bottom: 4px;
  }

  .container_contact_form {
    flex-direction: column;
    gap           : 40px;
  }

  .contact-forms-list-img {
    width  : 100%;
    padding: 0;
  }

  .container_contact_form-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact-office-wrap {
    padding: 40px 16px;
    margin : 30px 40px;
  }

  .content-center {
    flex-direction: column;
    gap           : 16px;
  }

  .container_office-map-list {
    padding-bottom: 80px;
  }
}

/* dropdown */
.modal-map-name {
  font-size  : 25px;
  color      : #000;
  font-weight: 700;
  padding    : 15px 30px 15px 0;
  text-align : center;
}

.modal-contact-map {
  position        : fixed;
  background-color: #fff;
  margin          : auto;
  padding         : 10px;
  border          : 1px solid #888;
  width           : 100%;
  max-width       : 300px;
  border-radius   : 10px;
  z-index         : 20;
  display         : none;
  left            : 50%;
  top             : 50%;
  transform       : translate(-50%, -50%);
}

.modal-contact-map-active {
  display: block;
}

.frame-map {
  width : 100%;
  height: 500px;
}

.btn-close-modal {
  position : absolute;
  top      : 20px;
  right    : 20px;
  cursor   : pointer;
  font-size: 2.4rem;
}

.map-content {
  display: none;
}

.map-content-active {
  display: block;
}

.modal-map-content {
  position: relative;
  z-index : 1;
  left    : 0;
  top     : 0;
  width   : 100%;
  height  : 100%;
  padding : 0 10px;
}

.modal-map-name {
  font-size  : 25px;
  color      : #000;
  font-weight: 700;
  padding    : 15px 30px 15px 0;
  text-align : center;
}

.send-mail {
  padding-top: 30px;
  margin     : 0px 16px;
}

.error {
  color    : red;
  font-size: 17px;
}

.success {
  color    : green;
  font-size: 17px;
}

@media (max-width: 768px) {
  .container {
    max-width: 727px !;
  }
}
@media (min-width: 376px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 450px) {
  .container {
    max-width: 430px;
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 730px;
  }

  .modal-contact-map {
    max-width: 500px;
  }
}

@media (min-width: 1025px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1281px) {
  .modal-contact-map {
    max-width: 1000px;
  }

  .container {
    max-width: 1280px;
  }
}