/* header*/
.header {
  position: fixed;
  z-index: 99;
  height: 80px;
  width: 100%;
  padding: 0 82px;
  background: var(--white-color);
  box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.05);
}

.navbar_list-item--active {
  border-bottom: 1px solid var(--red_vip-color);
}
.menu-icon {
  display: none;
}

.navbar_submenu-list {
  background-color: var(--white-color);
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 25px;
  right: 0;
  border: 1px solid #d6d6d6;
}

.navbar_submenu-list-show {
  visibility: visible;
  opacity: 1;
}

/* header language*/
.header_language {
  display: none;
  justify-content: flex-end;
  padding-right: 90px;
  position: relative;
}

.header_language-disable {
  display: none;
}

.header_dropdown-language {
  border: 1px solid var(--white-color);
  background-color: var(--blue-color);
  color: var(--white-color);
  margin-top: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: var(--text-font);
}

.dropdown-menu {
  display: none;
  top: 100%;
  right: 6%;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  margin: 0.125rem 0 0;
  font-size: var(--text-font);
  color: #212529;
  background-color: var(--white-color);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu-show {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 4px;
  margin-bottom: 8px;
  cursor: pointer;
}

.dropdown-item > img {
  margin-right: 10px;
}

/* mavbar header */
.header_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.navbar_list {
  align-items: center;
  gap: 46px;
  line-height: 22px;
  display: flex;
  margin: 0;
}

.navbar_list-item-link {
  font-size: 16px;
  color: var(--black-color);
}

.navbar_list-item-link:hover {
  color: var(--red_vip-color);
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  height: 0;
  transition: all 0.5s ease;
}

.navbar_submenu {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}


.navbar_submenu .link-page > img {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 36px;
  height: 100%;
}

.navbar_submenu-show {
  display: flex;
}

.navbar_submenu > i {
  color: var(--white-color);
}

.navbar_submenu-item {
  display: block;
  height: 35px;
  cursor: pointer;
  width: 70px;
  line-height: 41px;
}

.navbar_submenu-item:nth-child(2) {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.navbar_submenu-list {
  background-color: var(--white-color);
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
}

.navbar_submenu-list-show {
  visibility: visible;
  opacity: 1;
}

.menu-icon {
  display: none;
}

.menu-icon > button {
  background-color: transparent;
  padding: 5px 10px;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

/* Footer */
.footer {
  background-color: var(--black-color);
  display: block;
  padding: 0 82px;
}

.fa-locations {
  font-size: 20px;
  color: var(--white-color);
  margin-top: 3px;
  margin-right: 10px;
}

.footer_head {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 60px 0;
}

.footer_head-category {
  gap: 32px;
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}

.link-footer-first > p {
  font-size: 16px;
  line-height: 140%;
  color: var(--white-color);
}

.text-footer {
  font-weight: 900;
  font-size: 16px;
}

.footer_head-collection {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.footer_head-collection-infomation {
  display: block;
}

.footer_head-item-address-vi {
  background: url(../img/vi.png) no-repeat 0 2px;
  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  padding-left: 30px;
  margin: 0 0 24px 0;
}

.footer_head-item--infomation {
  margin-bottom: 32px;
}

.footer_head-item-office {
  background: url(../img/vi.png) no-repeat 0 2px;
  color: var(--white-color);
  padding-left: 30px;
  margin: 0 0 15px 0;
  font-size: var(--text-font);
}

.footer_head-item-office-address {
  white-space: pre-line;
  font-weight: 400;
  background: url(../img/building.png) no-repeat 0 2px;
  color: var(--white-color);
  padding-left: 30px;
  margin: 0 0 15px 0;
  margin-bottom: 30px;
  font-size: var(--text-font);
}

.footer_head-item-address-ja {
  background: url(../img/jp.png) no-repeat 0 2px;
  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  padding-left: 30px;
  margin: 0 0 24px 0;
}

.footer_head-item-address-text {
  white-space: pre-line;
  color: var(--white-color);
  font-weight: 400;
  background: url(../img/building.png) no-repeat 0 2px;
  padding-left: 30px;
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 140%;
}
.footer_head-item-phone-info {
  display: flex;
}
.footer_head-item-phone-text {
  white-space: pre-line;
  color: var(--white-color);
  line-height: 140%;
  font-weight: 400;
  background: url(../img/images/icon_phone.svg) no-repeat 0 2px;
  padding: 5px 0px 0 20px;
  font-size: 16px;
  padding-left: 30px;
}
.footer_head-item-email-text {
  white-space: pre-line;
  line-height: 140%;
  color: var(--white-color);
  font-weight: 400;
  background: url(../img/images/icon_mail.svg) no-repeat 0 2px;
  padding: 5px 0 0 25px;
  font-size: 16px;
  margin-bottom: 0;
}

.footer_head_item_bottom {
  display: flex;
  gap: 10px;
}

.link-footer-first {
  padding-bottom: 32px;
}

.header_footer {
  display: flex;
}

.header_footer > img {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 3px;
}

@media (max-width: 1024px) {
  .navbar_list {
    gap: 25px;
  }

  .header {
    height: 60px;
    padding: 0 16px ;
  }
  
  .logo-company {
    max-width: 109.5px;
    max-height: 28px;
  }
  
  /* footer  */
  .footer_head {
    padding-bottom: 25px;
    padding-top: 45px;
  }
  footer.footer {
    padding: 0px 16px;
  }
}

@media (max-width: 768px) {
  .navbar_list {
    display: none;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9999;
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease;
  }

  .navbar-nav {
    background: var(--white-color);
    padding: 10px 15px;
    height: 100%;
    margin: 0;
  }

  .nav-l.nav-item {
    height: 40px;
  }

  .navbar-collapse-active {
    height: 355px;
  }

  span.nav-link.hover.title-t {
    height: 100%;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
  }

  a.sub_menu-link {
    font-size: var(--text-font);
    display: flex;
    align-items: center;
  }

  .menu-icon > button {
    background-color: transparent;
    padding: 5px 10px;
    font-size: 2rem;
    color: var(--black-color);
    border-color: rgba(255, 255, 255, 0.1);
  }

  .menu-icon {
    display: block;
  }

  /* footer  */

  .footer_head-collection-infomation {
    padding-bottom: 32px;
    border-bottom: 1px solid #d6d6d6;
  }

  .footer_head-list-first {
    padding-top: 32px;
  }

  .link-footer-first {
    padding-bottom: 24px;
  }

  .footer_head-category {
    flex-direction: column;
    gap: 0;
  }

  .footer_head-collection {
    width: 100%;
  }

 .fa-locations {
     font-size: 15px;
    margin-top: 5px;
  }
}

@media (min-width: 1281px) {
  .header_navbar {
    max-width: 1280px;
  }
  .footer_head {
    max-width: 1280px;
  }
}
