* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  overflow-y: hidden;
  position: relative;
}

.back-to-top {
  position: fixed;
  background: var(--white-color);
  width: 36px;
  height: 36px;
  display: none;
  z-index: 99;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  border: 1px solid var(--gray-color);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.back-to-top .arrow-back {
  position: absolute;
  color: var(--black-color);
  font-size: 18px;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.text-c {
  margin: 0;
  font-size: 3rem;
  color: var(--white-color);
}

.text-title {
  color: var(--black-color);
  font-size: 45px;
  white-space: pre-line;
  line-height: 55.8px;
  margin: 65px 20px 0 0;
}

.container_heading {
  margin-top: 0;
  min-height: 80px;
  white-space: pre-line;
  margin-bottom: 37px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.heading,
.heading_title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  line-height: 49px;
}

.heading_title {
  margin-top: 30px;
}

.developer {
  padding: 8px 12px;
  border-radius: 57px;
  background-color: #ebebeb;
  display: flex;
  gap: 10px;
  border: none;
  line-height: 16px;
  font-size: 12px;
  font-weight: 700;
  height: 100%;
  white-space: nowrap;
}

.container_content_list_box {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}

.grid-section-1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container_content_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.heading-service-p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  line-height: 64px;
}

.w-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container_content_list_box-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: inherit;
  height: auto;
  background: #ffffff;
  border: 1px solid var(--text-color);
  border-radius: 12px;
  padding: 20px;
}

.container_content_list_box-item-image > img {
  width: 100px;
  height: 100px;
}

.container_content_list_box-item-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-list-box {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: var(--red_vip-color);
}

.box-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  margin: 0;
}

.content {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 16px;
}

h3 {
  margin: 0;
  font-size: 16px;
  margin-bottom: 10px;
}

b {
  font-size: 60px;
  /* color : var(--red_vip-color); */
}

.section_content-title {
  display: flex;
  justify-content: center;
}

.container_heading-text {
  font-size: 48px;
  text-align: center;
  padding: 0 167px;
  width: 1073px;
  margin: 0;
  padding-bottom: 35px;
}

.container_heading-text-title {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 35px;
}

.container_top-choice-left {
  width: 35%;
}

.container_top-choice-solution {
  width: 100%;
}

.container_top-choice-right {
  width: 65%;
}

.container_top-choice-item.scroll-animation {
  animation-name: fadeInRight;
  animation-duration: 1s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 
.container_parters-list {
  margin: 0 99px;
} */

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.container_top-choice-item-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container_top-choice-item-img > img {
  width: 37%;

  width: 37%;
  margin-bottom: 15px;
  height: 200px;
}

.container_top-choice-item-info > h3 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 35px;
}

.container_top-choice-item-info p {
  text-align: justify;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  color: var(--text-color);
  margin-bottom: 16px;
  line-height: 23px;
}

.container_health-care .container_background-top {
  height: auto;
}

.container_background-top {
  background-image: url(../img/ellipse.svg);
  background-position: top;
  background-size: cover;
  margin-top: 100px;
}

.container_health-care-main {
  background: #f5f5f5;
  padding-top: 80px;
}

.layout_health-care-left {
  width: 50%;
  margin-top: 82px;
  padding-bottom: 100px;
}

.layout_health-care-left-cricle {
  border-radius: 50%;
  height: 450px;
  width: 450px;
  border: 2px solid #2867b1;
  position: relative;
  margin: 0 auto;
}

.icon-b {
  background: #ecf5ff;
  text-align: center;
  width: 32%;
  cursor: pointer;
}

.box-icon1 {
  position: absolute;
  top: -16%;
  left: 33%;
}

.box-icon2 {
  position: absolute;
  right: -73px;
  top: 12%;
}

.box-icon6 {
  position: absolute;
  left: -50px;
  top: 13%;
}

.layout_health-care-left-cricle .circle-c > img {
  border-radius: 50%;
  top: 25%;
  right: 25%;
  position: absolute;
}

.box-icon3 {
  position: absolute;
  right: -24px;
  bottom: 9px;
  padding-top: 12px;
  padding-left: 8px;
}

.box-icon4 {
  position: absolute;
  bottom: -21%;
  left: 35%;
}

.box-icon5 {
  position: absolute;
  left: -33px;
  bottom: -3px;
  padding-top: 12px;
}

.layout_health-care-left-cricle .icon-b > p {
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  white-space: pre-line;
}

.icon-b:hover > .icon-b-img {
  transition: all 0.1s ease;
  transform: scale(1.2);
}

.icon-b:hover > .icon-b-text {
  transition: all 0.1s ease;
  color: #df8f2c;
}

.layout_health-care-right {
  background-color: #f5f5f5;
}

.layout_health-care-right-title {
  transition: all 0.5s ease;
}

.layout_health-care-right-title .heading-text {
  padding: 0 157px;
  margin-bottom: 60px;
}

.layout_health-care-right-title .heading-text > h1 {
  line-height: 65px;
  font-size: 48px;
  font-weight: 700;
  padding-right: 28px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.layout_health-care-right-title .heading-text > h1 > span {
  color: #2f78cd;
  font-size: 5rem;
  text-transform: uppercase;
}

.layout_health-care-right-content {
  position: relative;
}


.layout_health-care-right-content-list--item {
  position: relative;
  width: 293px;
  height: 198px;
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  padding: 10px;
  z-index: 10;
  background: #fff;
}

.layout_health-care-right-content-image {
  position: absolute;
  top: 100px;
  left: -40px;
}

.layout_health-care-right-content-vector {
  margin-bottom: 40px;
}

.layout_health-care-right-content-list--item .vector_arrow {
  position: absolute;
  right: -88px;
  top: 50%;
  transform: translateY(-50%);
}

.vector-downup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.vector_down_care.vector-downup {
  left: -10px;
}

.vector_up_care.vector-downup {
  right: -10px;
}

.health-care-right-slide {
  background: #fff;
  height: auto;
  border-radius: 10px;
  padding: 1px 60px 10px;
  position: relative;
}

.slick-track {
  display: flex;
  transition: 0.3s ease;
}

.health-care-right-slide-list {
  display: flex;
  overflow: hidden;
}

.container_post-home {
  background-color: #fbfbfb;
  padding: 88px 0;
}

.container_post-home-list {
  display: flex;
  justify-content: space-between;
}

.heading-text-certification-purposes > h1 {
  font-size: 40px;
  padding: 28px 0 50px 0;
  margin: auto;
}

.layout_certification-purposes-main {
  display: flex;
}

.layout_certification-purposes-image {
  padding-right: 20px;
  width: 50%;
}

.layout_certification-purposes-list {
  width: 50%;
  padding-left: 20px;
}

.layout_certification-purposes-item {
  background-color: #fff;
  width: 100%;
  padding: 20px 27px;
  margin: 10px 0 37px 0;
  border-radius: 23px;
  border: 1px solid #d1d1d1;
  height: 166px;
}

.layout_certification-purposes-item > p {
  font-size: 14px;
  line-height: 24px;
}

.heading-text > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin: 0;
  padding-bottom: 45px;
}

.heading-center {
  margin: 20px 0;
  padding-bottom: 4rem;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url(../img/heading_line_center.svg);
  background-position: 50% 100%;
}

.heading-text-certification-awards {
  background-position: -135px 100%;
  padding-right: 2rem;
  text-align: left;
}

.layout_certification-awards-main {
  flex: 3;
}

.text-t {
  font-size: 1.5rem;
}

.container_news {
  position: relative;
  background-image: url(../img/news.png), linear-gradient(#155aaa, #155aaa) !important;
  background-color: #155aaa;
  height: 424px;
  color: #fff;
}

.container_news:before {
  background-color: rgba(21, 90, 170, 0.8);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
}

.layout_news {
  position: relative;
  z-index: 9998;
}

.container_news-heading {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
}

.container_news-heading-title {
  margin: 0 0 8px 0;
}

.container_news-calendar-item {
  padding: 15px 0;
  border-top: 1px solid hsla(0, 0%, 56.5%, 0.5294117647058824);
  margin-right: 0;
  margin-left: 0;
  display: flex;
  line-height: 19px;
  background-color: #fff;
}

.container_news-heading .heading-text {
  background-image: url(../img/light-beat.png);
  background-position: 1px 45px !important;
}

.container_news-calendar-date {
  text-align: center;
  font-size: 1.6rem;
  flex: 1;
  padding: 0 15px;
  color: var(--black-color);
}

.container_news-calendar-content {
  line-height: 40px;
  padding: 0 15px;
  flex: 12;
  font-size: var(--text-font);
  font-weight: 500;
}

.container_news-calendar-read {
  padding: 0 15px;
  flex: 1;
}

.heading-text-title > h1 {
  padding: 0 99px;
}

.container_health-care {
  height: auto;
  padding-bottom: 15px;
  padding-top: 0px;
}

.icon-d {
  margin-bottom: 33px;
  position: relative;
  display: flex;
}

.box-frist.container_news-calendar-item {
  border-radius: 20px 20px 0 0;
  border-top: unset !important;
}

.container_news-calendar-item.box-last {
  box-shadow: 0 2px 0 0 hsl(0deg 0% 56% / 34%);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.container_parters-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
  margin-top: 40px;
}

/* Add Automation CSS */

.icon-d > p {
  margin: 0;
  font-size: 16px;
  margin-bottom: 0;
  text-align: justify;
  line-height: 21px;
}

.icon-c {
  margin-top: 7px;
  margin-right: 8px;
}

.certification-awards-middle-list {
  margin-top: 10px;
}

.certification-awards-list {
  margin-top: 10px;
}

.headding-center > h1 {
  font-size: 5rem;
}

.heading-text-certification-awards > h1 {
  margin: 0;
  font-size: 4rem;
}

.layout_certification-awards-item > p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0px;
  line-height: 24px;
  white-space: pre-line;
}

div .certification-awards-item-middle {
  width: calc((100% - 34px) / 3);
}

.certification-awards-item-last {
  width: calc((100% - 200px) / 5);
}

.box-frist container_news-calendar-date .day {
  font-size: 25px;
  line-height: 30px;
  text-align: justify;
}

.scroll-top-btn {
  width: 50px;
  height: 50px;
  left: calc(50% - 25px);
  position: absolute;
  top: -15px;
  background-color: #fa8c1e;
  border-radius: 50%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
}

/* Add Automation  */

.all {
  margin-left: auto;
  padding-top: 40px;
  cursor: pointer;
}

.all span {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 6px;
  font-size: var(--text-font);
}

.container_news-calendar-date .day {
  font-size: 25px;
  line-height: 30px;
  text-align: justify;
}

.scroll-top-btn > i {
  font-size: 2.5rem;
  color: var(--white-color);
}

.menu-text {
  display: block;
  margin-bottom: 10px;
  color: var(--white-color);
  font-size: var(--text-font);
}

.slick-slide-title {
  font-size: 2rem;
  color: rgb(47, 120, 205);
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--black-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.slick-slide-content {
  font-size: 14px;
  line-height: 19px;
}

.slick-next {
  right: -3%;
}

.slick-prev {
  left: -3%;
}

/* BAR BOTTOM */
.section_main {
  background-color: #fbfbfb;
  padding: 88px 0;
}

.section_content-info {
  display: flex;
}

.section_content-image > img {
  margin-top: 163px;
  width: 75%;
}

.temp {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--black-color);
  background: rgba(0, 0, 0, 0.08);
  border-radius: 57px;
  padding: 8px 12px;
  width: 88px;
  margin-bottom: 15px;
}

.section_content-info-item {
  background-color: var(--white-color);
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  padding: 44px 29px;
}

.section_content-info-item:hover {
  opacity: 0.5;
}

.color-text {
  color: #ef0c0e;
  font-size: 48px;
  margin: 0;
  font-weight: 500;
  padding: 7px 10px;
  border-bottom: 1px solid #d6d6d6;
}

.section_content-info-item > p {
  color: var(--black-color);
  font-size: 20px;
  line-height: 27px;
}

h2.title {
  font-size: 40px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 6%;
  z-index: 1000;
  padding: 8px 15px;
  float: left;
  min-width: 10rem;
  margin: 0.125rem 0 0;
  font-size: var(--text-font);
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu-show {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 4px;
  margin-bottom: 8px;
  cursor: pointer;
}

.dropdown-item > img {
  margin-right: 10px;
}

.btn-left {
  left: 5%;
}

.btn-right {
  right: 10%;
}

/* COMPANYY */
.container_company-overview-list {
  display: flex;
}

.container_company-overview-list-info {
  width: 14%;
  margin-top: 90px;
}

.container_company-overview-list-info--item {
  display: flex;
  padding: 12px;
}

.icon-info-wrap {
  margin-right: 5px;
  font-size: 20px;
  color: var(--red_vip-color);
}

.basic-info-title {
  font-size: 20px;
  color: var(--red_vip-color);
}

.container_company-overview-list-address {
  margin-top: 90px;
}

.container_company-overview-item {
  font-size: 18px;
  padding: 13px 0;
}

.basic-info-title {
  font-size: var(--text-font);
}

.container_company-overview {
  margin-top: 25px;
  border-width: 0.5px 0;
}

.container_management {
  padding: 88px 0;
}

p.container_management-content {
  text-align: center;
}

.about-head {
  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 40px;
}

.company-details {
  border-radius: 10px;
  background-color: #ecf5ff;
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 15px;
  padding: 10px 10px 30px 30px;
}

.bu-container-header {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  height: 73px;
  font-family: Cabin, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: 1 1;
  flex: 1 1;
  margin-left: 5px;
  padding: 5px;
}

.container_management-item-content-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.container_management-item-content .margin-top {
  margin-top: 24px;
}

.line-tree {
  position: absolute;
  top: 464px;
  left: 392px;
}

.container_management-list {
  display: flex;
  flex-wrap: wrap;
}

.manager-wrapper,
.manager-wrapper-card {
  padding-left: 68px;
}

.container_management-category {
  position: relative;
  display: flex;
  justify-content: space-between;
}

span.manager-name {
  font-size: 32px;
  color: var(--red_vip-color);
  font-weight: 700;
  line-height: 43px;
}

p strong {
  font-size: 28px;
  line-height: 37px;
  text-align: center;
}

/* RESULT */

.container_result-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #000000;
  border-radius: 12px;
  margin-top: 32px;
}

.container_collection-web {
  margin-bottom: 80px;
}

.container_collection-app,
.container_collection-game,
.container_collection-management {
  padding: 80px 0;
}

.block-title {
  font-weight: 700;
  font-size: 48px;
  color: var(--black-color);
}

.container-overview {
  padding: 88px 0;
}

.container_result-item-title {
  margin: 15px 0;
}

.container_result-item-title-text {
  border-radius: 57px;
  padding: 7px 13px;
  font-weight: 700;
  font-size: var(--text-font);
}

.container_heading-title .margin-top {
  margin-top: 96px;
}

.splitter {
  margin-bottom: 10px;
}

.container_result-item-content > p {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.container_result-item-content {
  margin-bottom: 20px;
}

.container_result-item-category {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #4c4c4c;
}

.img-product:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.5s ease-out;
}
@keyframes hoverImg {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.container_result-item-img {
  overflow: hidden;
  border-radius: 12px;
}

.container_result-item-img > img {
  width: 418px;
  height: 287px;
}

/* CONTACT */
.container_contact,
.contact_form {
  padding: 72px 0;
}

.heading-text-contact > h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: var(--black-color);
  margin: 0;
  padding-bottom: 40px;
}

.modal-map-name {
  font-size: 25px;
  color: #000;
  font-weight: 700;
  padding: 15px 30px 15px 0;
  text-align: center;
}

.modal-contact-map {
  position: fixed;
  top: 180px;
  background-color: #fff;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 100%;
  left: 20%;
  max-width: 1000px;
  border-radius: 10px;
  z-index: 20;
  display: none;
}

.modal-contact-map-active {
  display: block;
}

.frame-map {
  width: 100%;
  height: 500px;
}

.btn-close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.map-content {
  display: none;
}

.map-content-active {
  display: block;
}

.modal-map-content {
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.btn-close-modal {
  font-size: 2.4rem;
}

.contact-link {
  font-size: 16px;
  color: #2f78cd;
  cursor: pointer;
  text-decoration: underline;
}

.container_office-map-item {
  width: 48%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 20px bottom 20px;
  padding: 75px 45px 0;
  margin-top: 30px;
  cursor: pointer;
}

.map-hanoi {
  background: url(../img/bg_hanoi-address.png);
}

.map-jp {
  background: url(../img/bg_jp-adress.png);
}

.contact-office-wrap {
  background: #fff;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding: 30px;
  height: 100%;
}

.container_office-map-list {
  display: flex;
  justify-content: space-between;
}

p.contact-office {
  font-size: 1.8rem;
}

.contact-text {
  line-height: 2.5rem;
  font-size: var(--text-font);
  font-weight: 600;
  color: var(--text-font);
}

.contact-text.content-1 {
  background: url(../img/contact-building.png) no-repeat 2px 2px;
  padding-left: 28px;
}

.contact-text.content-2 {
  background: url(../img/contact-call.png) no-repeat 2px 2px;
  padding-left: 28px;
}

.contact-text.content-3 {
  background: url(../img/contact-message.png) no-repeat 2px 2px;
  padding-left: 28px;
}

.container_contact_form {
  display: flex;
  margin-bottom: 71px;
}

.contact-forms-list-img,
.container_contact_form-content {
  width: 50%;
}

.contact-forms-list-img > img {
  width: 622px;
  height: 677px;
}

.container-fluid {
  /* width: 100%;
    margin-top: 50px;
    padding-top: 85px;
    padding-bottom: 60px;background-repeat: no-repeat;
    background-size: cover;
    height: 841px;
    background-position: top; */
}

.content-title {
  white-space: pre-line;
  margin: 10px 0;
  font-weight: 500;
  font-size: var(--text-font);
}

.grid.container.contact-form {
  background: hsla(0, 0%, 100%, 0.9);
  border-radius: 20px;
  padding: 30px;
}

.contact_form {
  background: hsla(0, 0%, 100%, 0.9);
  border-radius: 20px;
  /* padding   : 30px 99px; */
}

.contact_form-title {
  font-weight: 700;
  font-size: 48px;
  color: var(--black-color);
  padding-bottom: 40px;
}

.contact_form-content-title {
  white-space: pre-line;
  margin: 10px 0;
  font-weight: 500;
  font-size: var(--text-font);
}

.contact-forms-list {
  /* margin-top: 40px;
    display: flex;
    justify-content: space-between; */
}

/* .contact-form-item {
    width: calc((100% - 30px)/2);
} */

.contact_form-item-group {
  margin-bottom: 20px;
  /* border-bottom: 1px solid; */
}

.form-input-title {
  display: flex;
  align-items: center;
  padding: 7px 0;
}

.form-input-title > span {
  font-size: var(--text-font);
}

.icon-input {
  width: 30px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.form__field {
  width: 100%;
  outline: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  padding: 12px 16px;
  transition: border-color 0.2s;
  font-size: var(--text-font);
  background: #ffffff;
  /* height  : 48px; */
  border: 1px solid #d0d5dd;

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.contact-form-wrap .form__error {
  /* display: block; */
  padding: 3px 10px;
  background-color: #8b0000;
  color: #fff;
  display: inline-block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form__error {
  padding: 3px 10px;
  background-color: #8b0000;
  color: #fff;
  display: inline-block;
  border-bottom-left-radius: 5px;
}

.form_textarea {
  resize: none;
  /* height    : 200px; */
  margin-bottom: -7px;
}

span.container_form-box-check-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

.container_form-box-list {
  display: flex;
  justify-content: start;
}

.container_form-box-item {
  padding: 0 15px 0 40px;
  margin-top: 20px;
}

.purpose-1 {
  cursor: pointer;
  margin-bottom: 1rem;
}

button.contact-form-btn {
  align-items: center;
  padding: 16px 28px;
  gap: 10px;
  width: 100%;
  height: 59px;
  background: var(--black-color);
  color: var(--white-color);
  border-radius: 48px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.box-save {
  text-align: end;
}

.column-show {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.form__error {
  padding: 3px 10px;
  background-color: #8b0000;
  color: #fff;
  font-size: var(--text-font);
  display: inline-block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.container_form-box-show {
  font-size: var(--text-font);
  height: 25px;
  align-items: center;
  display: inline-flex;
  margin-left: 10px;
}

.container_form-box-input {
  height: 25px;
  width: 25px;
}

/* SERVICE */
.grid {
  padding-top: 60px;
}

.grid-section-1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 96px 0;
}

.container_heading-service > p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
}

.container_heading-service {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.container_heading-service .heading-service {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  line-height: 64px;
}

.container_heading-service > h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #4c4c4c;
}

.container_service-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
}

.container_service-card {
  border: 1px solid #000000;
  border-radius: 16px;
  width: 100%;
}

.container_service-card-number {
  padding: 0 15px;
  /* margin-top: 20px; */
}

.container_service-card-title {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.container_service-card-number .number {
  font-weight: 700;
  font-size: 48px;
  font-size: 30px;
  line-height: 65px;
  text-align: center;
  color: #fc6061;
  /* opacity                                                 : .2; */
}

.container_service-card-subtile .text {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.container_service-collection {
  padding: 10px 15px 0;
  margin-top: 15px;
}

.container_service-item {
  border: 1px solid #fbfbfb;
  flex-wrap: wrap;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 20px;
}

.container_service-item-flat {
  padding: 0 15px;
  /* flex        : 1; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.container_service-item-customer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 1px solid #d1d1d1;
  padding-left: 15px;
}

.container_service-item-flat > p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  line-height: 24px;
}

.container_service-item-flat > img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  border-radius: 4px;
}

.container_service-item-customer-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.service_customer-info-img {
  padding: 0 15px;
}

.service_customer-info-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}

.title-service-section {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ed1b23;
  white-space: nowrap;
}

.container_field-item-link > img {
  min-width: 250px;
  min-height: 287px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* WHY US */

.container_whyus-list {
  background-image: url(../img/whyusbg.png);
  background-position: 100%;
  background-size: auto 100%;
  padding: 40px 0;
  background-repeat: no-repeat;
  margin: 30px 0;
  height: 500px;
  display: flex;
  align-items: center;
}

.container_whyus-item {
  width: 50%;
  background: #2f78cd;
  padding: 20px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
}

.intro-content {
  font-size: var(--text-font);
  color: var(--white-color);
  line-height: 2.7rem;
  padding: 15px;
  white-space: pre-line;
}

.container_whyus-subtile {
  font-size: 23px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.bold-text-2 {
  margin-bottom: 0;
}

.container_field-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
}

a.container_field-item-link {
  position: relative;
  bottom: 0px;
  display: block;
  box-shadow: 1px 1px 3px 0 #000;
  transition: bottom 300ms ease;
  color: #333;
  height: 100%;
  position: relative;
  bottom: 0px;
  display: block;
  box-shadow: 1px 1px 3px 0 #000;
  transition: bottom 300ms ease;
  color: #333;
  text-decoration: none;
  border-radius: 12px;
}

.project-title {
  text-align: center;
  font-size: var(--text-font);
  line-height: 2.6rem;
}

.container_field-item-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px 16px;
}

.project-info {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.project-info > h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-top: 16px;
  color: var(--red_vip-color);
}

.project-info .developer > p {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--black-color);
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 57px;
}

.container_field-item-content .container_field-item-content--bottom {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black-color);
  margin-bottom: 40px;
}

.container_field-item {
  width: 100%;
}



.img-bottom-line {
  position: absolute;
  bottom: 18px;
  right: 18px;
  width: 80px;
  height: 80px;
  display: block;
}

.img-bottom-line img {
  width: 100%;
}

/* container_company-overview-group-iconxzy */
.section-card-web {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 82px;
}

/* abcxzy */
.container-section-card {
  padding-top: 60px;
}

.section-card-web {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 82px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.block-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  letter-spacing: -0.01em;
  color: #000000;
}

.container-casestudy {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: 100%;
}

.section-content {
  display: flex;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  letter-spacing: -0.01em;
  color: black;
}

.section-card {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
  width: 100%;
  height: auto;
  overflow-x: auto;
  min-width: 404px;
}

.section-card-common {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #000000;
  border-radius: 12px;
  min-width: 404px;
}

.img-common {
  width: 100%;
  height: 47%;
  border-bottom: 1px solid #000000;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 12px 20px;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.content-card-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  width: 100%;
  height: 100%;
}

.container-card-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  line-height: 18.9px;
  font-weight: 400;
  width: 100%;
  gap: 4px;
  text-align: left;
}

.span-card {
  font-weight: 700;
}

.p-card {
  margin: 0;
}

.button-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(58, 78, 255, 0.1);
  border: none;
  border-radius: 57px;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #3a4eff;
}

.button-card-app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 194, 171, 0.1);
  border: none;
  border-radius: 57px;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #00c2ab;
}

.button-card-game {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 141, 58, 0.1);
  border: none;
  border-radius: 57px;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ff8d3a;
}

.button-card-management {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 58, 223, 0.1);
  border: none;
  border-radius: 57px;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ff3adf;
}

.img-service-1 {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.container_service-card {
  padding: 16px 12px;
  gap: 16px;
  border: 1px solid #000000;
  border-radius: 16px;
}

.container_service-card-title {
  display: flex;
  gap: 12px;
  width: 100%;
}

.container_service-card-number {
  padding: 0;
}

.container_service-card-subtile .text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.container_service-card {
  margin-right: 0;
}

.container_service-item {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
  padding: 12px 8px;
  background-color: #fbfbfb;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.container_service-collection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.container_field-item-content {
  width: 100%;
}

.container_service-item {
  display: flex;
}

.container_service-item-flat {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  margin-bottom: 0;
  gap: 3.08px;
  width: 30%;
}

.number {
  font-size: 48px;
  font-weight: 700;
}

.number-home {
  font-size: 25px;
  font-weight: 500;
  line-height: 65px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 57px;
  text-align: center;
  width: 115px;
}

.container_service-item-customer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 0;
}

.service_customer-info-img {
  padding: 0;
  padding-left: 15px;
}

.container_service-item-customer-info {
  margin: 0;
  padding-left: 15px;
}

.img-jp {
  margin-right: 0;
}

.content-card-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-card-2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
