/* container-overview */
.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 80px 0 90px 0;
}

.container-overview {
  height: 100%;
  margin: auto;
  max-width: 1440px;
}

.container_management {
  height: 100%;
  margin: auto;
  max-width: 1440px;
}

.container_heading-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: #000000;
  padding: 80px 0 40px;
}

.logo_image-ncc {
  width: 50%;
}

.logo_image-ncc img {
  width: 100%;
  padding-right: 50px;
}

.container_company-overview-list {
  width: 50%;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.container_company-overview-list-address{
  display: flex;
  gap: 32px;
}

.container_company-overview-list-info--item {
  display: flex;
  gap: 6px;
  margin: 0;
  padding: 12px 0;
}

.container_company-overview-list-info--item i {
  margin-right: 5px;
  font-size: 20px;
  color: var(--red_vip-color);
  width: 20%;
}

.basic-info-title {
  font-size: 20px;
  line-height: 28px;
  color: var(--red_vip-color);
}

.container_company-overview-item {
  font-size: 18px;
  padding: 12px 0;
  line-height: 28px;
}

.basic-info-title {
  font-size: var(--text-font);
}

.container_company-overview {
  margin-top: 25px;
  border-width: 0.5px 0;
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 90px;
}

/* Organization system */
.container_management-cards {
  width: 70%;
  display: flex;
  align-items: center;
}

.container_management-card-ceo-bar {
  box-sizing: border-box;
  padding: 24px;
  gap: 24px;
  background: #ffffff;
  border: 3px solid #d6d6d6;
  border-radius: 16px;
  width: 100%;
}

.about-head {
  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  color: #000000;
}

.container_management-card-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 40px 28px;
  background: #ffffff;
  border: 3px solid #d6d6d6;
  border-radius: 24px;
  width: 100%;
}

.container_management-card-list-item-info--card {
  padding: 48px 0 24px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(252, 96, 97, 0.7);
}

.container_management-card-bar-avatar {
  display: flex;
  justify-content: center;
}

.container_management-card-bar-avatar img {
  width: 50%;
}

.container_management-item-content.mobile {
  display: none;
}

.container_management-item-content {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container_management-card-expla {
  padding-top: 12px;
}

.container_management-item-content-bu-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 16px;
  gap: 10px;
  width: max-content;
  background: #f0f0f0;
  border-radius: 57px;
  flex: none;
  flex-grow: 0;
}

.container_management-item-content-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.container_management-item-content-wrappers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.container_management-item-content-bu-container p {
  font-size: 10px;
  line-height: 14px;
  color: #333333;
}

.container_management-card {
  width: 30%;
  display: flex;
  align-items: center;
}

.container_management-cards-list {
  display: flex;
  align-items: center;
}

.line-css {
  width: 20px;
  height: 2px;
  background-color: #fc6061;
}

.line_height-css {
  width: 2px;
  height: 100%;
  background-color: #fc6061;
}

.container_management-card-ceo-bar-avatar img {
  width: 100%;
  border-radius: 20px;
}

.container_management {
  padding-top: 90px;
}

.heading-text {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 35px;
  text-align: center;
}

p.container_management-content {
  text-align: center;
}

.container_management-content-member {
  text-align: center;
}

.container_management-content-member .manager-member {
  font-size: 28px;
  color: var(--red_vip-color);
  font-weight: 700;
}

.container_management-content-member span {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  line-height: 27px;
  line-height: 36px;
  margin-bottom: 24px;
}

span.manager-name {
  font-size: 32px;
  color: var(--red_vip-color);
  font-weight: 700;
  line-height: 43px;
}

p strong {
  font-size: 28px;
  line-height: 37px;
  text-align: center;
}

.container-category {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.container_management-card-item {
  width: 50%;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }

  .container_management{
    max-width: 1280px;
  }

  .container_management-item-content-wrappers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .container_company-overview {
    flex-direction: column;
  }

  .logo_image-ncc {
    width: 100%;
  }

  .container_company-overview-list {
    width: 100%;
    padding: 32px 0;
  }

  .container_company-overview {
    margin: 0;
  }

  .container_heading-title {
    font-size: 32px;
    line-height: 43px;
    letter-spacing: -0.01em;
    text-align: left;
    padding: 40px 0 40px;
  }

  .container {
    max-width: 750px;
  }
}

@media (max-width: 1024px) {
  .container_management {
    max-width: 750px;
  }

  .container_management-item-content-bu-container {
    width: 100%;
    justify-content: center;
  }

  .container_management-item-content.desktop {
    display: none;
  }

  .container_management-item-content.mobile {
    display: flex;
    gap: 20px;
  }

  .container_management-item-content-wrapper.mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container_company-overview {
    padding-bottom: 8px;
  }

  .container_company-overview-list-info--item {
    padding: 4px 0;
  }

  .container_company-overview-item {
    padding: 0 0 12px 0;
  }

  .container_company-overview-list-info--item i {
    width: auto;
  }

  .container-category {
    flex-direction: column;
  }

  .container_company-overview {
    padding-bottom: 60px;
  }

  .container_management {
    padding-top: 60px;
  }

  .container_management-card {
    flex-direction: column;
  }

  .line {
    display: none;
  }

  .line-css {
    height: 40px;
    width: 2px;
  }

  .line-css:nth-child(2) {
    display: none;
  }

  .container_management-card {
    width: 100%;
  }

  .container_management-cards {
    width: 100%;
  }

  .container_management-cards-list {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container_management{
    max-width: 540px;
  }

  .container_management-item-content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .container {
    max-width: 540px;
  }

}

@media (max-width: 540px) {
  .container_management{
    max-width: 330px;
  }

  .container {
    max-width: 330px;
  }
}

@media (max-width: 540px) {
  .container_management{
    max-width: 300px;
  }
}