/* container-overview */
.container {
  max-width: 330px;
  width: 100%;
  margin: auto;
  padding-top: 80px;
}

.container_heading-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: #000000;
  padding: 95px 0 60px;
}

.logo_image-ncc {
  width: 50%;
}

.logo_image-ncc img {
  width: 100%;
}

.container_company-overview-list {
  width: 50%;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.container_company-overview-list-address {
  display: flex;
  gap: 32px;
  width: 100%;
}

.container_company-overview-list-info--item {
  display: flex;
  margin: 0;
  padding: 12px 0;
  width: 15%;
}

.container_company-overview-list-info--item i {
  font-size: 20px;
  color: var(--red_vip-color);
  width: 30%;
  display: flex;
  justify-content: center;
}

.container_company-overview-list--icon {
  width: 100%;
  display: flex;
}

.container_company-overview-group-icon {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.container_company-overview-group-icon--lists {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.container_company-overview-group-icon--items {
  width: 30%;
}

.container_company-overview-group---item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.basic-info-title {
  width: 90%;
  font-size: 20px;
  line-height: 28px;
  color: var(--red_vip-color);
}

.container_company-overview-item {
  font-size: 18px;
  padding: 12px 0;
  line-height: 28px;
}

.basic-info-title {
  font-size: var(--text-font);
}

.container_company-overview {
  border-width: 0.5px 0;
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 95px;
  gap: 32px;
}

/* Organization system */
.container_management-cards {
  width: 65%;
  display: flex;
  align-items: center;
}

.container_management-card-ceo-bar {
  box-sizing: border-box;
  padding: 24px;
  gap: 24px;
  background: #ffffff;
  border: 3px solid #d6d6d6;
  border-radius: 16px;
  width: 100%;
}

.about-head {
  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  color: #000000;
}

.container_management-card-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 40px 28px;
  background: #ffffff;
  border: 3px solid #d6d6d6;
  border-radius: 24px;
  width: 100%;
}

.container_management-card-list-item-info--card {
  padding: 48px 0 24px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(252, 96, 97, 0.7);
}

.container_management-card-bar-avatar {
  display: flex;
  justify-content: center;
}

.container_management-card-bar-avatar img {
  width: 50%;
}

.container_management-item-content.mobile {
  display: none;
}

.container_management-item-content {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.container_management-card-expla {
  padding-top: 12px;
}

.container_management-item-content-bu-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 16px;
  gap: 10px;
  width: max-content;
  background: #f0f0f0;
  border-radius: 57px;
  flex: none;
  flex-grow: 0;
  text-align: center;
}

.container_management-item-content-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.container_management-item-content-wrappers {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-gap: 20px;
  justify-content: center;
}

.container_management-item-content-bu-container p {
  font-size: 10px;
  line-height: 14px;
  color: #333333;
}

.container_management-card {
  width: 35%;
  display: flex;
  align-items: center;
}

.container_management-cards-list {
  display: flex;
  align-items: center;
}

.line-css {
  width: 60px;
  height: 2px;
  background-color: #fc6061;
}

.line_height-css {
  width: 2px;
  height: 100%;
  background-color: #fc6061;
}

.container_management-card-ceo-bar-avatar img {
  width: 100%;
  border-radius: 20px;
}

.container_management {
  max-width: 330px;
  width: 100%;
  margin: auto;
  padding-top: 95px;
}

.heading-text {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
}

p.container_management-content {
  text-align: center;
}

.container_management-content-member {
  text-align: center;
}

.container_management--list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.container_management-content-member .manager-member {
  font-size: 28px;
  color: var(--red_vip-color);
  font-weight: 700;
}

.container_management-content-member span {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  line-height: 27px;
  line-height: 36px;
  margin-bottom: 24px;
}

span.manager-name {
  font-size: 30px;
  color: var(--red_vip-color);
  font-weight: 700;
  line-height: 43px;
}

p strong {
  font-size: 28px;
  line-height: 37px;
  text-align: center;
}

.container-category {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.container_management-card-item {
  width: 50%;
}

@media (max-width: 1280px) {
  .container_management-content-member .manager-member {
    font-size: 16px;
    line-height: 22px;
  }

  .container_management-content-member span {
    font-size: 12px;
    line-height: 16px;
  }

  span.manager-name {
    font-size: 26px;
    line-height: 38px;
  }

  p strong {
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 1024px) {
  .container_management-content-member .manager-member {
    font-size: 28px;
    line-height: 38px;
  }

  .container_management-content-member span {
    font-size: 20px;
    line-height: 27px;
  }

  span.manager-name {
    font-size: 32px;
    line-height: 43px;
  }

  p strong {
    font-size: 28px;
    line-height: 38px;
  }

  .container_management-item-content-bu-container.last-item {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .container_management--list {
    gap: 0;
  }

  .container_company-overview-list-info--item {
    padding: 0;
  }

  .container_company-overview-item {
    padding-bottom: 16px;
  }

  .container_company-overview {
    flex-direction: column;
  }

  .logo_image-ncc {
    width: 100%;
  }

  .container_company-overview-list {
    width: 100%;
  }

  .container_company-overview {
    margin: 0;
  }

  .container_heading-title {
    font-size: 32px;
    line-height: 43px;
    letter-spacing: -0.01em;
    text-align: left;
    padding: 40px 0 40px;
  }

  .container_company-overview-list-address {
    flex-direction: column;
    gap: 0;
  }

  .container-category {
    padding-bottom: 108px;
  }

  .container_management-item-content-wrapper.mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container_company-overview {
    padding-bottom: 8px;
  }

  .container_company-overview-item {
    padding: 0 0 12px 0;
  }

  .container_company-overview-list-info--item i {
    width: auto;
  }

  .container-category {
    flex-direction: column;
  }

  .container_company-overview {
    padding-bottom: 28px;
  }

  .container_management {
    padding-top: 40px;
  }

  .container_management-card {
    flex-direction: column;
  }

  .line {
    display: none;
  }

  .line-css {
    height: 40px;
    width: 2px;
  }

  .line-css:nth-child(2) {
    display: none;
  }

  .container_management-card {
    width: 100%;
  }

  .container_management-cards {
    width: 100%;
  }

  .container_management-cards-list {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container,
  .container_management {
    max-width: 727px !important;
  }
  .container,
  .container-category {
    padding: 0 16px;
  }
  .container {
    margin-top: 70px;
  }
  .container_management-item-content-bu-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .container_management-item-content.desktop {
    display: none;
  }

  .container_management-item-content.mobile {
    display: flex;
    gap: 20px;
  }

  .container_management-card-bar-avatar img {
    width: 70%;
  }

  .container_company-overview-list-info--item {
    width: 29%;
  }

  .container_company-overview-group-icon--lists {
    gap: 5px;
  }

  .logo_image-ncc img {
    /* max-height: 328px; */
  }

  .container_management-item-content-bu-container {
    padding: 8px 12px;
  }

  .container_management-card-list-item-info--card {
    padding: 24px 0 16px 0;
  }

  .container_management-item-content.mobile {
    padding-top: 16px;
  }

  .container_management-item-content {
    padding-top: 16px;
  }

  .container_management-card-ceo-bar {
    padding: 16px;
  }

  .heading-text {
    display: none;
  }

  .container_management-content-member .manager-member {
    font-size: 16px;
    line-height: 22px;
  }

  .container_management-content-member span {
    font-size: 12px;
    line-height: 16px;
  }

  span.manager-name {
    font-size: 28px;
    line-height: 38px;
  }

  p strong {
    font-size: 20px;
    line-height: 27px;
  }

  .container_management-item-content-wrappers {
    grid-gap: 8px;
    grid-row-gap: 8px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-head {
    text-align: center;
  }

  .container_management-content-member .manager-member {
    font-size: 16px;
    line-height: 22px;
  }

  .container_management-content-member span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
  }

  .container_management-item-content-wrapper.mobile {
    gap: 8px;
  }
  .container_management-item-content.mobile {
    gap: 8px;
  }

  .container_management-card-list {
    padding: 20px 16px;
  }
  .container_management-item-content-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 540px) {
  .container_management-card-bar-avatar img {
    width: 90%;
  }

  .container_management {
    max-width: 328px;
  }
}

@media (min-width: 376px) {
  .container_management {
    max-width: 375px;
  }

  .container {
    max-width: 375px;
  }
}

@media (min-width: 450px) {
  .container_management {
    max-width: 430px;
  }

  .container {
    max-width: 430px;
  }
}

@media (min-width: 769px) {
  .container_management {
    max-width: 1024px;
    min-width: 730px;
    width: auto;
    padding: 0 16px;
  }

  .container {
    min-width: 730px;
    max-width: 1024px;
    width: auto;
    padding: 0 16px;
  }
}

@media (min-width: 1025px) {
  .container_management {
    max-width: 1024px;
  }

  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1281px) {
  .container_management {
    max-width: 1280px;
  }

  .container {
    max-width: 1280px;
  }
}
